@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  /*размер тега <html> равен размеру окна браузера.*/
}

body {
  margin: 0;
  /* В браузерах у тега <body> задан margin, который надо сбросить.*/
  display: flex;
  /* блоки стоят на оси слева на право*/
  flex-direction: column;
  /* разворачиваем ось сверху вниз */
  min-height: 100%;
  /*минимальная высота блока 100% (по всему экрану) */
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*На все селекторы*/
* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.search-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756157;
}

.subscribe-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82b3d3;
}

.subscribe-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  display: flex;
  /* блоки стоят на оси слева на право*/
  max-width: 1200px;
  /* Размеры из макета */
  margin: 0 auto;
  /* Блок встал по центру */
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  /*Уточнить,какой размер на макете?*/
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  margin-left: auto;
  list-style: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.navigation-user-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  text-decoration: none;
  color: #000000;
}

/* Класс отвечающий за Sticky footer */
.main-container {
  flex-grow: 1;
}

.hero {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: left top;
}

.hero-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 51px;
}

.page-main {
  display: block;
  margin-top: 69px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.page-main-description {
  display: block;
  margin-bottom: 69px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}


.page-container {
  max-width: 1200px;
  /*размер из макета */
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
}


.subscribe {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 1200px, 485px;
}

.subscribe-catalog {
  background-color: #f2f2f2;
}

.subscribe-title {

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
}

.subscribe-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-item {
  display: flex;
  background-color: #83B3D31F;
}

.advantages-item--blue {
  background-color: #82B3D3;

}

.advantages-item--light-blue {
  background-color: #83B3D333;
}

.advantages-item-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 103px 85px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.advantages-title-black {
  color: #000000;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.advantages-description-black {
  color: #000000;
}

.services {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}


.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

.services-logo-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.services-item-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #83b3d3;
  max-width: 400px;
  padding: 80px 85px;
}

.services-item--white {
  background-color: #ffffff;

}

.services-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;

}

.services-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}

.search-button {
  display: flex;
  margin: 0 auto;
}

.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.subscribe-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.subscribe-description-catalog {
  color: #000000;
}

.contact {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.inner-header-title {

  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
}

.breadcrumbs-item {
  text-decoration: none;
}

.hotels-filter {
  display: flex;
}

.catalog {
  display: flex;
}

.catalog-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
}

.catalog-wrapper {
  display: flex;
}

.catalog-control-wrapper{
  display: flex;
}

.select-control {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  box-shadow: 0 0 0 1px #e6e6e6;
}

.hotel-card {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

.hotel-card-info{
  display: flex;
  justify-content: space-between;
}

.hotel-card-wrapper {

  max-width: 340px;
  padding: 20px;
}

.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  text-decoration: none;
  /*Не получается убрать подчеркивание у ссылки*/
}

.hotel-type {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.hotel-card-price {
  text-align: right;
}

.hotel-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  font-weight: 700;
  line-height: 36px;
  width: 400px;
 }

.pagination-link {
  display: block;
  min-width: 60px;
  padding: 12px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.pagination-link-current {
  color: #000000;
}

.pagination-item {
  background-color: #82b3d3;
}

.pagination-item--grey {
  background-color: #F2F2F2;
}

.pagination-item--white {
  background-color: #ffffff;
}

.pagination-item-wrapper {
  display: flex;
  margin: 0 auto;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  margin-right: 8px;
  margin-bottom: 8px;
  width: 24px;
  height: 14px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}
